@tailwind base;
@tailwind components;
@tailwind utilities;

/* For WebKit browsers */
::-webkit-scrollbar {
    width: 6px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgba(45, 45, 255, 0.595);
    border-radius: 3px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f3f4f6;
  }
  
